// First override some or all individual color variables
$primary: #25408f;
$secondary: #8f5325;
$success: #3e8d63;
$info: #006eff;
$warning: #945707;
$danger: #d62518;
$light: #f8f9fa;
$dark: #000000;

// Then add them to your custom theme-colors map, together with any additional colors you might need
$theme-colors: (
	primary: $primary,
	secondary: $secondary,
	success: $success,
	info: $info,
	warning: $warning,
	danger: $danger,
	light: $light,
	dark: $dark,
	// add any additional color below
);

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

.wheelchair-img {
    background-image: url('/src/photos/wheelchair.jpeg');
    background-position: center;
    background-attachment: relative;
    background-size: cover;
    background-repeat: none;
    border-radius: 1rem;
    height: 24rem;
}
.ceren-headshot {
  background-image: url('/src/photos/Ceren_2A8A3614-square_websize.jpg');
    background-position: center;
    background-attachment: relative;
    background-size: cover;
    background-repeat: none;
    border-radius: 50%;
    height: 12rem;
    width: 12rem;
    margin-top: 2rem;
}
.erika-headshot {
    background-image: url('/src/photos/Erika-headshot.jpg');
    background-position: top;
    background-attachment: relative;
    background-size: cover;
    background-repeat: none;
    border-radius: 50%;
    height: 12rem;
    width: 12rem;
    margin-top: 2rem;
}
.jia-headshot {
  background-image: url('/src/photos/Jia-headshot.jpg');
  background-position: top;
  background-attachment: relative;
  background-size: cover;
  background-repeat: none;
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  margin-top: 2rem;
}
.amal-headshot {
  background-image: url('/src/photos/Amal-headshot.jpg');
  background-position: top;
  background-attachment: relative;
  background-size: cover;
  background-repeat: none;
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  margin-top: 2rem;
}
.miles-headshot {
  background-image: url('/src/photos/Miles-headshot.jpg');
  background-position: top;
  background-attachment: relative;
  background-size: cover;
  background-repeat: none;
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  margin-top: 2rem;
}
.sarah-headshot {
  background-image: url('/src/photos/Sarah-headshot.jpg');
  background-position: top;
  background-attachment: relative;
  background-size: cover;
  background-repeat: none;
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  margin-top: 2rem;
}
.zoe-headshot {
  background-image: url('/src/photos/zoe-headshot.jpg');
  background-position: top;
  background-attachment: relative;
  background-size: cover;
  background-repeat: none;
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  margin-top: 2rem;
}
.mualla-headshot {
  background-image: url('/src/photos/mualla-headshot.png');
  background-position: top;
  background-attachment: relative;
  background-size: cover;
  background-repeat: none;
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  margin-top: 2rem;
}
.hatice-headshot {
  background-image: url('/src/photos/Hatice-headshot.jpg');
  background-position: top;
  background-attachment: relative;
  background-size: cover;
  background-repeat: none;
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  margin-top: 2rem;
}
.baris-headshot {
  background-image: url('/src/photos/Baris-headshot.jpg');
  background-position: top;
  background-attachment: relative;
  background-size: cover;
  background-repeat: none;
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  margin-top: 2rem;
}
.christian-headshot {
  background-image: url('/src/photos/christian-headshot.png');
  background-position: top;
  background-attachment: relative;
  background-size: cover;
  background-repeat: none;
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  margin-top: 2rem;
}
.perry-headshot {
  background-image: url('/src/photos/Perry-headshot.jpg');
  background-position: top;
  background-attachment: relative;
  background-size: cover;
  background-repeat: none;
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  margin-top: 2rem;
}
.adarsh-headshot {
  background-image: url('/src/photos/Adarsh-headshot.jpg');
  background-position: top;
  background-attachment: relative;
  background-size: cover;
  background-repeat: none;
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  margin-top: 2rem;
}
.header-text {
    color: whitesmoke;
    font-size: 3rem;
}
  
  /* ANIMATION SCHEMES */
.transition {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
  
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}
  
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  /* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.gif {
    background-image: url('/src/photos/micro.webp');
    background-position: center;
    background-attachment: relative;
    background-size: cover;
    background-repeat: none;
    filter:brightness(50%);
    height: 16rem;
}
  /* COLOR SCHEMES */
.bg-color {
    background-color: rgb(30,32,30);
}
.transparent {
    opacity: 20%;
}
.text-font {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card-header-info {
    background-color: rgb(60,64,60)!important;
    color: whitesmoke;
}